body{
	background: rgb(58,68,78);
	background: linear-gradient(356deg, rgba(58,68,78,0.8456057007125891) 0%, rgba(47,60,83,1) 28%, rgba(33,64,91,1) 63%, rgba(13,22,42,1) 100%);
}
.imgSize{
	height: 65vh;
	width: 20vw;
	border-radius:20px;
	object-fit:cover;
	margin-right:30%;
	margin-left:30%;
}


#container{
	position: relative;
	width: 20%;
	margin-left: 40%;
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
	justify-content: center;

}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #6f4ab1;
	border-radius: 20px;
}

.overlay:hover  {
	opacity: 0.9;
}
.text {
	display: flex;
	color: white;
	font-size: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	height: 90%;
	width: 70%;
}

.mySignBar{
	background-color:#110624; 

}
.paddingBtn{
	margin-top: 5%;
	margin-bottom: 5%;
}
#cal{
	font-size: 1em;
	border-radius: 5px;
	background-color: #e9ebff;
	color:#a3a0ad;
}
.myBtn:hover{
	background-color: #6f4ab1;
}
.content{
	display: flex;
	justify-content: center;
}
#signCentered{
	justify-self: center;
	align-self: center;
	color: white;
	font-size: 2em;
	margin-right: 100px;
}
.borderImg{
	border: 1px solid #6f4ab1;
	border-radius: 10px;
	width: 25%;
	margin-left: 5%;
}
i{
	color: #984394;
	font-size: 7vw;
	position: relative;
}
#percant{
	position: absolute;
	top: 30%;
	left: 25%;
	font-size: 0.3em;
	color: white;
}
.disappear{
	display: none;
}
#stoneConatainer{
	display: flex;
}
@media only screen and (max-width: 1400px){
	.text{
		font-size: 0.8em;
	}
}
@media only screen and (max-width: 900px){
	.text{
		font-size: 0.6em;
	}
}
#contentCardJam{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#heartContainer{
	display: flex;
	justify-content: center;
	align-self: center;
	position: absolute;
	left: 46.5%;
}
.longer{
	height: 16vh;
}