body{
	background: rgb(229,237,245);
	background: linear-gradient(356deg, rgba(229,237,245,0.8456057007125891) 0%, rgba(195,212,241,1) 28%, rgba(204,227,246,1) 63%, rgba(170,187,223,1) 100%);
	background-repeat: no-repeat;
}
.myBtn{
	margin-top:1% ;
	border-color:#221160;
	color:#221160;
}
.myBtn:hover{
	background-color:#221160;
	color:white;
}
#cal{
	padding: 1%;
	font-size: 1.3em;
	border-radius: 20px;
	background-color: #e9ebff;
	color:#a3a0ad;

}
section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}